.navbar-placeholder {
    margin-bottom: 100px;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 80px;

    background-color: #275225;
    color: #F0EBE7;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.navbar .logo {
    margin-top: 10px;
    margin-left: 50px;
}

.navbar .logo img {
    width: 250px;
    height: auto;
}

.navbar .high-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .menu .menu-item {
    margin: 0 10px;
    font-size: 25px;
    transition: color 0.4s ease;
}

.navbar .menu .menu-item:hover {
    color: #BD5200;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .navbar .menu .menu-item {
        font-size: 23px;
    }

    .navbar .high-menu {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .navbar .menu .menu-item {
        font-size: 18px;
    }

    .navbar .high-menu {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: 140px;
        margin: 0;
    }

    .navbar-placeholder {
        margin-bottom: 150px;
    }

    .navbar .high-menu {
        margin: 0;
        flex-direction: column;
    }

    .navbar .menu .menu-item {
        font-size: 15px;
    }

    .navbar .logo {
        margin: 0px;
    }

    .navbar .logo img {
        width: 270px;
    }
}

.navbar .language {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 50px;
}

.navbar .language .entity {
    text-decoration: none;
    color: #F0EBE7;
}

.navbar .language .entity.selected {
    color: #BD5200;
}

@media screen and (max-width: 768px) {
    .navbar .language {
        margin: 0;
        position: absolute;
        right: 0.5%;
        top: 0.5%;
    }
}