html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F0EBE7;
    background-color: #35312C;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */

    background: rgb(53, 49, 44);
    background: -moz-linear-gradient(90deg, rgba(53, 49, 44, 1) 0%, rgba(38, 36, 32, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(53, 49, 44, 1) 0%, rgba(38, 36, 32, 1) 100%);
    background: linear-gradient(90deg, rgba(53, 49, 44, 1) 0%, rgba(38, 36, 32, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35312c", endColorstr="#262420", GradientType=1);
}

::-webkit-scrollbar {
    display: none;
}

a {
    color: #F0EBE7;
    text-decoration: underline;
}